In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# To enable plotting graphs in Jupyter notebook
%matplotlib inline
import seaborn as sns

In [140]:
pd.set_option('display.max_columns', None) # to show all columns
data = pd.read_csv('Assignment1Data_Sample.csv')
data.head()

,Object Number,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,Artist Role,Artist Prefix,Artist Display Name,Artist Display Bio,Artist Suffix,Artist Nationality,Artist Begin Date,Artist End Date,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,62.16,1674,American Decorative Arts,Side Chair,Side Chair,American,NaN,NaN,NaN,NaN,Maker,Attributed to,Samuel McIntire,1757–1811,NaN,NaN,1757,1811,1794–99,1794,1799.0,"Mahogany, ebony, ash, birch, white pine",37 7/8 x 27 7/8 x 18 in. (96.2 x 70.8 x 45.7 cm),"Friends of the American Wing Fund, 1962",Made in,Salem,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,Furniture,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Chairs
1,13.7.17,2430,American Decorative Arts,Pitcher,Covered Pitcher,American,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1700–1900,1700,1900.0,Earthenware,7 1/4 x 6 3/8 x 5 1/2 in. (18.4 x 16.2 x 14 cm),"Rogers Fund, 1913",Made in,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pitchers
2,33.85.11,6406,American Decorative Arts,Plate,Plate,Dutch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1740–60,1740,1760.0,Earthenware,Diam. 8 7/8 in. (22.5 cm),"Rogers Fund, 1933",Made in,Delft,NaN,NaN,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",NaN
3,69.194.109,7616,American Decorative Arts,Soup bowl,Soup Bowl,American,NaN,NaN,NaN,NaN,Maker,NaN,Union Porcelain Works,1863–ca. 1922,NaN,NaN,1863,1922,1885,1885,1885.0,Porcelain,H. 1 7/16 in. (3.7 cm); Diam. 8 3/4 in. (22.2 cm),"Gift of Mr. and Mrs. Franklin Chace, 1969",Made in,Brooklyn,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Bowls
4,2006.235.20,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,NaN,NaN,NaN,NaN,Artist,NaN,John Henry Brown,1818–1891,NaN,NaN,1818,1891,ca. 1840,1840,1840.0,Watercolor on ivory,2 11/16 x 2 3/16 in. (6.8 x 5.6 cm),"Fletcher Fund, 2006",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paintings,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pendants|Portraits|Women

In [141]:
data.shape

(204, 41)

In [142]:
data.columns

Index(['Object Number', 'Object ID', 'Department', 'Object Name', 'Title',
       'Culture', 'Period', 'Dynasty', 'Reign', 'Portfolio', 'Artist Role',
       'Artist Prefix', 'Artist Display Name', 'Artist Display Bio',
       'Artist Suffix', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Metadata Date',
       'Repository', 'Tags'],
      dtype='object')

In [143]:
# create a new dataframe with only the columns required by the Waterloo Museum of Art
df = data[['Object ID','Department','Object Name','Title','Culture','Artist Nationality','Object Begin Date','Object End Date','Medium','Credit Line','Country']].copy()

In [144]:
df.head()

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
0,1674,American Decorative Arts,Side Chair,Side Chair,American,NaN,1794,1799.0,"Mahogany, ebony, ash, birch, white pine","Friends of the American Wing Fund, 1962",United States
1,2430,American Decorative Arts,Pitcher,Covered Pitcher,American,NaN,1700,1900.0,Earthenware,"Rogers Fund, 1913",United States
2,6406,American Decorative Arts,Plate,Plate,Dutch,NaN,1740,1760.0,Earthenware,"Rogers Fund, 1933",Netherlands
3,7616,American Decorative Arts,Soup bowl,Soup Bowl,American,NaN,1885,1885.0,Porcelain,"Gift of Mr. and Mrs. Franklin Chace, 1969",United States
4,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,NaN,1840,1840.0,Watercolor on ivory,"Fletcher Fund, 2006",NaN

In [145]:
# checking the nulls values
df.isna().sum()

Object ID               0
Department              1
Object Name             1
Title                  10
Culture               120
Artist Nationality    117
Object Begin Date       0
Object End Date         2
Medium                  2
Credit Line             0
Country               172
dtype: int64

In [146]:
df = df.drop_duplicates()

# Going into each column to check for anomalies

In [147]:
len(df['Object ID'].unique())

200

In [148]:
df[df['Department'].isnull()]

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
76,317005,NaN,Cloth,Carrying Cloth,Quechua,NaN,1900,2000.0,Camelid hair,"Bequest of Arthur M. Bullowa, 1993",Peru

In [149]:
# only 1 Na, filling with 'Unknown'
df['Department'] = df['Department'].fillna('Unknown')

In [150]:
df[df['Object Name'].isnull()]

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
165,656878,Modern and Contemporary Art,NaN,"New York City 2[unfinished, formerly New York ...",NaN,NaN,1941,1941.0,Oil and tape on canvas,"San Francisco Museum of Modern Art, Purchase t...",USA

In [151]:
data[data['Object Name'].isnull()]

,Object Number,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,Artist Role,Artist Prefix,Artist Display Name,Artist Display Bio,Artist Suffix,Artist Nationality,Artist Begin Date,Artist End Date,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
165,SL.6.2016.88.1,656878,Modern and Contemporary Art,NaN,"New York City 2[unfinished, formerly New York ...",NaN,NaN,NaN,NaN,NaN,Artist,NaN,Piet Mondrian,"Dutch, Amersfoort 1872–1944 New York",NaN,NaN,1872,1944,1941,1941,1941.0,Oil and tape on canvas,45 1/4 × 38 7/8 in. (114.9 × 98.7 cm),"San Francisco Museum of Modern Art, Purchase t...",Country of Origin,NaN,NaN,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,Paintings,© San Francisco Museum of Modern Art,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",NaN

In [152]:
# using the Link Resource we can see that the Object name is 'grid with commercial adhesive tape'
# you could also fil, it with 'Unknown'
df.loc[165,'Object Name'] = 'Grid with commercial adhesive tape'

In [153]:
df[df['Title'].isnull()]

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
12,39917,Asian Art,Hanging scroll mounted as handscroll,NaN,China,Chinese,1037,1101.0,Hanging scroll mounted as a handscroll; ink on...,"Bequest of John M. Crawford Jr., 1988",NaN
13,43092,Asian Art,Girdle ornament,NaN,China,NaN,-206,NaN,Jade,"Gift of Samuel T. Peters, 1913",NaN
14,53280,Asian Art,Bracelet,NaN,Thailand,NaN,-300,400.0,Bronze,"Samuel Eilenberg Collection, Bequest of Samuel...",NaN
15,54547,Asian Art,Print,NaN,Japan,Japanese,1800,1899.0,Polychrome woodblock print (surimono); ink and...,"H. O. Havemeyer Collection, Bequest of Mrs. H....",NaN
16,54626,Asian Art,Album leaf,NaN,Japan,Japanese,1877,1897.0,Album leaf; ink and color on silk,"Charles Stewart Smith Collection, Gift of Mrs....",NaN
17,55442,Asian Art,Print,NaN,Japan,Japanese,1838,1838.0,Polychrome woodblock print; ink and color on p...,"Rogers Fund, 1922",NaN
18,58899,Asian Art,Inrō,NaN,Japan,NaN,1800,1899.0,"Lacquer, hirame ground, gold, red, silver and ...","The Howard Mansfield Collection, Purchase, Rog...",NaN
19,62174,Asian Art,Basket,NaN,Japan,NaN,1800,1899.0,Bamboo,"Edward C. Moore Collection, Bequest of Edward ...",NaN
20,67976,Asian Art,Piece,NaN,Japan,NaN,1800,1899.0,Silk / Brocaded,"Rogers Fund, 1909",NaN
22,77166,Asian Art,Drawing,NaN,"India (Guler, Punjab Hills)",NaN,1790,1810.0,Ink on paper,"Gift of Cynthia Hazen Polsky, 2011",NaN

In [154]:
# since all the NaN title are Asian Art, I will fill it with 'Asian Art Unkown'
df['Title'] = df['Title'].fillna('Asian Art Unknown')

In [155]:
df[df['Title'].isnull()]

Empty DataFrame
Columns: [Object ID, Department, Object Name, Title, Culture, Artist Nationality, Object Begin Date, Object End Date, Medium, Credit Line, Country]
Index: []

In [156]:
df[df['Culture'].isnull()]

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
62,262991,Photographs,Photograph,[Detail of Vanitas Figures Carved on the Choir...,NaN,NaN,1860,1869.0,Albumen silver print from glass negative,"Gift of Lucien Goldschmidt, 1981",NaN
63,263514,Photographs,Photograph,Robert Motherwell,NaN,American,1981,1981.0,Gelatin silver print,"Gift of the artist, 1983",NaN
64,265758,Photographs,Photograph,[Graffiti on Backstage Door of the School of A...,NaN,American,1945,1945.0,Gelatin silver print,"Gift of Paul F. Walter, in memory of Christoph...",NaN
65,266167,Photographs,Photograph,[Study of Australian Grapes],NaN,NaN,1858,1862.0,Albumen silver print from glass negative,"Purchase, The Horace W. Goldsmith Foundation G...",NaN
66,269735,Photographs,Photograph,Sous bois,NaN,Belgian,1922,1922.0,Bromoil print,"Gift of Clarence McK. Lewis, 1954",NaN
...,...,...,...,...,...,...,...,...,...,...,...
199,779306,Drawings and Prints,Trade card,"Packard-Tourist, from the ""Antique Autos"" seri...",NaN,NaN,1953,1953.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",NaN
200,785013,Drawings and Prints,Print; ephemera,Norwegian Air Force In Canada Patrol Bomber (N...,NaN,NaN,1942,1942.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",NaN
201,813925,Drawings and Prints,Print,Stonehenge,NaN,NaN,1979,1979.0,Sugar-lift aquatint with roulette,"Gift of Jerry S. Flum, 1980",NaN
202,820618,Drawings and Prints,Print,"Psyche, holding the flask of beauty being tran...",NaN,NaN,1525,1535.0,Engraving,"Bequest of Grace Pugh, 1985",NaN
203,824428,Drawings and Prints,Print,Landscape and Cattle,NaN,NaN,1875,1885.0,Etching,"Gift of Henry Levien, 1967",NaN

In [157]:
# over half of the dataset is unkown for the column 'Culture'
# going to use columns Region, Subregion and Country to fillna
df['Culture'] = df['Culture'].fillna(data['Region'])
df['Culture'] = df['Culture'].fillna(data['Subregion'])
df['Culture'] = df['Culture'].fillna(data['Country'])

In [158]:
df[df['Culture'].isnull()]

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
62,262991,Photographs,Photograph,[Detail of Vanitas Figures Carved on the Choir...,NaN,NaN,1860,1869.0,Albumen silver print from glass negative,"Gift of Lucien Goldschmidt, 1981",NaN
63,263514,Photographs,Photograph,Robert Motherwell,NaN,American,1981,1981.0,Gelatin silver print,"Gift of the artist, 1983",NaN
64,265758,Photographs,Photograph,[Graffiti on Backstage Door of the School of A...,NaN,American,1945,1945.0,Gelatin silver print,"Gift of Paul F. Walter, in memory of Christoph...",NaN
65,266167,Photographs,Photograph,[Study of Australian Grapes],NaN,NaN,1858,1862.0,Albumen silver print from glass negative,"Purchase, The Horace W. Goldsmith Foundation G...",NaN
66,269735,Photographs,Photograph,Sous bois,NaN,Belgian,1922,1922.0,Bromoil print,"Gift of Clarence McK. Lewis, 1954",NaN
...,...,...,...,...,...,...,...,...,...,...,...
199,779306,Drawings and Prints,Trade card,"Packard-Tourist, from the ""Antique Autos"" seri...",NaN,NaN,1953,1953.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",NaN
200,785013,Drawings and Prints,Print; ephemera,Norwegian Air Force In Canada Patrol Bomber (N...,NaN,NaN,1942,1942.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",NaN
201,813925,Drawings and Prints,Print,Stonehenge,NaN,NaN,1979,1979.0,Sugar-lift aquatint with roulette,"Gift of Jerry S. Flum, 1980",NaN
202,820618,Drawings and Prints,Print,"Psyche, holding the flask of beauty being tran...",NaN,NaN,1525,1535.0,Engraving,"Bequest of Grace Pugh, 1985",NaN
203,824428,Drawings and Prints,Print,Landscape and Cattle,NaN,NaN,1875,1885.0,Etching,"Gift of Henry Levien, 1967",NaN

In [159]:
# still over 100 NaN values, will be fill with Unknown
df['Culture'] = df['Culture'].fillna('Unknown')

In [160]:
df[df['Artist Nationality'].isnull()]

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
0,1674,American Decorative Arts,Side Chair,Side Chair,American,NaN,1794,1799.0,"Mahogany, ebony, ash, birch, white pine","Friends of the American Wing Fund, 1962",United States
1,2430,American Decorative Arts,Pitcher,Covered Pitcher,American,NaN,1700,1900.0,Earthenware,"Rogers Fund, 1913",United States
2,6406,American Decorative Arts,Plate,Plate,Dutch,NaN,1740,1760.0,Earthenware,"Rogers Fund, 1933",Netherlands
3,7616,American Decorative Arts,Soup bowl,Soup Bowl,American,NaN,1885,1885.0,Porcelain,"Gift of Mr. and Mrs. Franklin Chace, 1969",United States
4,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,NaN,1840,1840.0,Watercolor on ivory,"Fletcher Fund, 2006",NaN
...,...,...,...,...,...,...,...,...,...,...,...
199,779306,Drawings and Prints,Trade card,"Packard-Tourist, from the ""Antique Autos"" seri...",Unknown,NaN,1953,1953.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",NaN
200,785013,Drawings and Prints,Print; ephemera,Norwegian Air Force In Canada Patrol Bomber (N...,Unknown,NaN,1942,1942.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",NaN
201,813925,Drawings and Prints,Print,Stonehenge,Unknown,NaN,1979,1979.0,Sugar-lift aquatint with roulette,"Gift of Jerry S. Flum, 1980",NaN
202,820618,Drawings and Prints,Print,"Psyche, holding the flask of beauty being tran...",Unknown,NaN,1525,1535.0,Engraving,"Bequest of Grace Pugh, 1985",NaN
203,824428,Drawings and Prints,Print,Landscape and Cattle,Unknown,NaN,1875,1885.0,Etching,"Gift of Henry Levien, 1967",NaN

In [161]:
# 115 NaN, we can use Country or Culture to help with the Nationality but it could result with incorrect data,
# I believe it is better to use 'Unknown' so that the information is not wrong.
df['Artist Nationality'] = df['Artist Nationality'].fillna('Unknown')

In [162]:
df[df['Object Begin Date'].isnull()]
# no NaN

Empty DataFrame
Columns: [Object ID, Department, Object Name, Title, Culture, Artist Nationality, Object Begin Date, Object End Date, Medium, Credit Line, Country]
Index: []

In [163]:
df[df['Object End Date'].isnull()]

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
13,43092,Asian Art,Girdle ornament,Asian Art Unknown,China,Unknown,-206,NaN,Jade,"Gift of Samuel T. Peters, 1913",NaN
102,378518,Drawings and Prints,Drawing,"Design for Vis-à-vis, no. 3223",Unknown,American,1876,NaN,"Pen and black ink, watercolor and gouache with...","Gift of William Brewster, 1923",NaN

In [164]:
#It appeards that the End Date is actually unknown for these 2 row
df['Object End Date'] = df['Object End Date'].fillna('Unknown')

In [165]:
df[df['Medium'].isna()]

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
91,353752,Drawings and Prints,Book,Plates in Missel de Notre-Dame de France,Unknown,French|French?|French,1899,1899.0,NaN,"The Elisha Whittelsey Collection, The Elisha W...",NaN
170,679516,Photographs,Album,[Album],Unknown,Unknown,1860,1879.0,NaN,"Gift of Eva Kasiska, 1947",NaN

In [166]:
#It appeards that the Medium is also unknown for these 2 row
df['Medium'] = df['Medium'].fillna('Unknown')

In [167]:
df[df['Credit Line'].isna()]
# no NaN

Empty DataFrame
Columns: [Object ID, Department, Object Name, Title, Culture, Artist Nationality, Object Begin Date, Object End Date, Medium, Credit Line, Country]
Index: []

In [168]:
df[df['Country'].isna()]

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
4,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,Unknown,1840,1840.0,Watercolor on ivory,"Fletcher Fund, 2006",NaN
5,23510,Arms and Armor,Arrowhead (Yanonē),Arrowhead (Yanonē),Japanese,Unknown,1701,1800.0,Steel,"The Collection of Giovanni P. Morosini, presen...",NaN
6,29920,Arms and Armor,Knife handle (Kozuka),Knife Handle (Kozuka),Japanese,Unknown,1770,1852.0,"Copper-gold alloy (shakudō), copper-silver all...","The Howard Mansfield Collection, Gift of Howar...",NaN
7,32848,Arms and Armor,Coin (Thaler),Coin (Thaler) Showing August I (The Pious) of ...,German,Unknown,1580,1580.0,Silver,"Gift of Bashford Dean, 1923",NaN
8,34014,Arms and Armor,Two drawings,Drawings Showing Combat on Foot (Champ Clos),German,Unknown,1501,1600.0,"Pen, ink and watercolor on paper","Bashford Dean Memorial Collection, Funds from ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...
199,779306,Drawings and Prints,Trade card,"Packard-Tourist, from the ""Antique Autos"" seri...",Unknown,Unknown,1953,1953.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",NaN
200,785013,Drawings and Prints,Print; ephemera,Norwegian Air Force In Canada Patrol Bomber (N...,Unknown,Unknown,1942,1942.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",NaN
201,813925,Drawings and Prints,Print,Stonehenge,Unknown,Unknown,1979,1979.0,Sugar-lift aquatint with roulette,"Gift of Jerry S. Flum, 1980",NaN
202,820618,Drawings and Prints,Print,"Psyche, holding the flask of beauty being tran...",Unknown,Unknown,1525,1535.0,Engraving,"Bequest of Grace Pugh, 1985",NaN
203,824428,Drawings and Prints,Print,Landscape and Cattle,Unknown,Unknown,1875,1885.0,Etching,"Gift of Henry Levien, 1967",NaN

In [169]:
# first we will use the Culture column to determ the Country
df['Country'] = df['Country'].fillna(df['Culture'])

In [170]:
# Now we will see the unique Country values and try to replace a few of them
df['Country'].unique()

array(['United States', 'Netherlands', 'American', 'Japanese', 'German',
       'possibly Spanish', 'China', 'Thailand', 'Japan',
       'India (Guler, Punjab Hills)', 'British', 'Italian',
       'European, Eastern', 'French', 'probably French', 'Romanian',
       'European', 'possibly Greek', 'German, Silesia (Bunzlau)',
       'Italian, Venice', 'German, Hanau', 'probably German',
       'British, Chelsea', 'Spanish', 'Cypriot', 'Italic', 'Greek, Attic',
       'Minoan', 'Minoan, Crete', 'Unknown', 'Indonesia', 'Mexico',
       'Costa Rica', 'Papua New Guinea', 'Peru', 'Iran',
       'Southeastern Iran', 'Syria', 'Egypt', 'India',
       'present-day Uzbekistan', 'France', 'Byzantine',
       'present-day France', 'South Netherlandish', 'USA',
       'European or Middle Eastern',
       'British, Stoke-on-Trent, Staffordshire'], dtype=object)

In [171]:
df['Country'] = df['Country'].replace({
    'American': 'United States', 'Japanese' : 'Japan', 'German' : 'Germany',
    'possibly Spanish' : 'possibly Spain','British' : 'Britain', 'Italian' : 'Italy',
    'French' : 'France', 'probably French' : 'probally France','Romanian' : 'Romenia',
    'European, Eastern' : 'Europe', 'European' : 'Europe', 'possibly Greek' : 'possibly Greece',
    'German, Silesia (Bunzlau)': 'Germany', 'Italian, Venice':'Italy', 'German, Hanau' : 'Germany',
    'probably German' : 'probably Germany', 'British, Chelsea': 'Britain', 'Spanish': 'Spanish',
    'Cypriot' : 'Cyprus', 'Italic': 'Unknown', 'Greek, Attic' : 'Greece','Minoan': 'Greece',
    'Minoan, Crete' : 'Greece','European or Middle Eastern' : 'Unknown', 'British, Stoke-on-Trent, Staffordshire' : 'Britain',
    'South Netherlandish' : 'Netherlands', 'present-day France' : 'France', 'India (Guler, Punjab Hills)' : 'India',
     'present-day Uzbekistan' : 'Uzbekistan', 'Southeastern Iran' : 'Iran' })

In [172]:
df['Country'].unique()

array(['United States', 'Netherlands', 'Japan', 'Germany',
       'possibly Spain', 'China', 'Thailand', 'India', 'Britain', 'Italy',
       'Europe', 'France', 'probally France', 'Romenia',
       'possibly Greece', 'probably Germany', 'Spanish', 'Cyprus',
       'Unknown', 'Greece', 'Indonesia', 'Mexico', 'Costa Rica',
       'Papua New Guinea', 'Peru', 'Iran', 'Syria', 'Egypt', 'Uzbekistan',
       'Byzantine', 'USA'], dtype=object)

In [173]:
df.head(300)

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
0,1674,American Decorative Arts,Side Chair,Side Chair,American,Unknown,1794,1799.0,"Mahogany, ebony, ash, birch, white pine","Friends of the American Wing Fund, 1962",United States
1,2430,American Decorative Arts,Pitcher,Covered Pitcher,American,Unknown,1700,1900.0,Earthenware,"Rogers Fund, 1913",United States
2,6406,American Decorative Arts,Plate,Plate,Dutch,Unknown,1740,1760.0,Earthenware,"Rogers Fund, 1933",Netherlands
3,7616,American Decorative Arts,Soup bowl,Soup Bowl,American,Unknown,1885,1885.0,Porcelain,"Gift of Mr. and Mrs. Franklin Chace, 1969",United States
4,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,Unknown,1840,1840.0,Watercolor on ivory,"Fletcher Fund, 2006",United States
...,...,...,...,...,...,...,...,...,...,...,...
199,779306,Drawings and Prints,Trade card,"Packard-Tourist, from the ""Antique Autos"" seri...",Unknown,Unknown,1953,1953.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",Unknown
200,785013,Drawings and Prints,Print; ephemera,Norwegian Air Force In Canada Patrol Bomber (N...,Unknown,Unknown,1942,1942.0,Commercial color lithograph,"The Jefferson R. Burdick Collection, Gift of J...",Unknown
201,813925,Drawings and Prints,Print,Stonehenge,Unknown,Unknown,1979,1979.0,Sugar-lift aquatint with roulette,"Gift of Jerry S. Flum, 1980",Unknown
202,820618,Drawings and Prints,Print,"Psyche, holding the flask of beauty being tran...",Unknown,Unknown,1525,1535.0,Engraving,"Bequest of Grace Pugh, 1985",Unknown
203,824428,Drawings and Prints,Print,Landscape and Cattle,Unknown,Unknown,1875,1885.0,Etching,"Gift of Henry Levien, 1967",Unknown